.hero-title {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero {
  text-align: center;
  background-color: var(--hero-grey);
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-title\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87em;
  color: var(--white);
  background-color: var(--blue);
  min-width: 136px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button);
}
